@model IEnumerable<ReportsManager.Models.SPR_Reports>

<div class="cards">
        @foreach (var item in Model)
        {

            <div class="card">
                <div>
                    @{
                        item.Name += ": ";
                    }

                    <h3 class="subtittle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h3>
                    <br />
                    @{
                        string imgSrc = "";
                        if (item.SPR_ReportAssets != null)
                        {
                            var base64 = Convert.ToBase64String(item.SPR_ReportAssets.Image);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                    @if (string.IsNullOrWhiteSpace(imgSrc) == false)
                    {
                        <img src="@imgSrc" class="img-thumbnail" style="width:350px;" />
                    }
                    <br />
                    <div class="smaller">
                        <a class="btn btn-primary btnmargin" onclick="location.href='@Url.Action("Edit", "Reports", new { id=item.ID})'">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </a>
                        <a class="btn btn-info btnmargin" onclick="location.href='@Url.Action("Design", "Reports", new { id=item.ID})'">
                            <i class="glyphicon glyphicon-stats"></i> Design
                        </a>
                        <a class="btn btn-success btnmargin" onclick="window.open('@Url.Action("View", "Reports", new { id=item.ID})', '_blank')">
                            <i class="glyphicon glyphicon-eye-open"></i> View
                        </a>
                        <a class="btn btn-danger btnmargin" onclick="location.href='@Url.Action("Delete", "Reports", new { id=item.ID})'">
                            <i class="glyphicon glyphicon-minus"></i> Delete
                        </a>
                        <a class="btn btn-default btnmargin text-primary" onclick="location.href='@Url.Action("Index", "Tasks", new { reportid=item.ID})'">
                            <i class="glyphicon glyphicon-time"></i> Schedule
                        </a>
                    </div>
                    <br />
                    @{
                        string description = "hello";
                        if (item.SPR_Tasks != null && item.SPR_Tasks.Count > 0)
                        {
                        }
                        else
                        {
                            description = "Not scheduled";
                        }
                    }
                    <span class="spandesc">@description</span>
                </div>
            </div>
        }
        <div class="card glyphicon-object-align-vertical">
            <div>
                <a class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Reports")'">
                    <i class="glyphicon glyphicon-plus"></i> Add New Report
                </a>
            </div>
        </div>
</div>
