<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reports Manager</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content" style="padding:0%;width:95%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SwiftX Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/flexmonster")
    @RenderSection("scripts", required: false)
</body>
</html>
